<!DOCTYPE html>
<html>
<head>
    <title>Item Storage</title>
    <link rel="stylesheet" type="text/css" href="" th:href="@{/style/item.css}">
</head>
<body>
<h1>Item Storage</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <!-- Add more columns as needed -->
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over the list of items and display them in the table -->
    <tr th:each="items : ${item}">
        <td>
            <a th:href="@{'/item-reservation-form?item_name=' + ${items.item_name} +
                        '&price=' + ${items.price} +
                        '&id=' + ${items.id}}"
            >
                <span th:text="${items.item_name}"></span>
            </a>
        </td>
        <td th:text="${items.price}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>

